*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 1.5vw;
}

.nav ul li{
    list-style:none;  

}
.nav ul li a{
    text-decoration: none;
    color: black;
    justify-content: space-between;


}

.nav ul li a:hover{
    text-decoration: none;
    color: red;
    text-decoration: underline;

}

.div2 a{
    text-decoration: none;
}
.div2  h1{
    color: black;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.nav .div1 ul{
    display: flex;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav .div3 ul{
    display: flex;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text h1{
    font-size: 20vw;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500; 
}

.left-text{
    position: absolute;
    bottom: 15%;
    left: 6%;
    width: 190px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom .h21{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    left: 6%;
    font-style: italic;
    font-weight: 100;
    
}

.bottom .h22{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    right: 6%;
    font-style: italic;
    font-weight: 100;
    
}
.main>img{
    height: 350px;
    position: absolute;

}
.img1{
    right: 12%;
    bottom: 13%;
}

.img2{
    right: 25%;
    bottom: 3%;
}
.img3{
    right: 36%;
    bottom: 10%;
}
