*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div div div";
    grid-gap: 10px;
    padding: 10px;

}
header{
    background-color: crimson;
    grid-area: header;
}
section{
    background-color: violet;
    grid-area: section;
}
div{
    background-color: seagreen;
    grid-area: div div div ;
}