*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    background-color: bisque;
    width: 100%;
}
#box{
    position:relative;
    border: 3px solid white;
    background-color: black;
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#box2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 40px;
    background-color: royalblue;
    border: 3px solid white;
}