*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(58, 182, 248);
    height: 100%;
    width: 100%;
    gap: 20px;

}
.cards{
    margin-top: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -20px 10px 20px black;
    background-color: white;
    height: 400px;
    width: 230px;
    border: 3px solid red;
}
#card1{
    display: flex;
    align-items: center;
    background-image: url(assets/img1.jpg);
    background-size: cover;
    background-position: top;
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
#card2 {
     display: flex;
    align-items: center;
    background-image: url(assets/img1.jpg);
    background-size: cover;
    background-position: top;
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
button{
    font-size: 1.2em;
    background-color: aqua;
    border: 2px solid red;
    padding:10px 20px;
    margin: 20px;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}

button:hover{
    color: white;
    border: 2px solid aqua;
    box-shadow: 10px 10px 20px red;
    cursor: pointer;
    transition: all 0.2s;
}

