*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{

    height: 100%;
    width: 100%;
}
.main{
    background-color: lightblue;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.card{
    border-radius: 8px ;
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: relative;

}
.card:hover .bottom {
    /* overflow:visible; */
    bottom: 0%;
    transition: all ease 1s;

}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card img:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
    /* overflow: hidden; */
    /* border-radius: 8px; */
}
.bottom{

    height: 40%;
    width: 100%;
    background:linear-gradient(transparent, black);
    position:absolute;
    bottom: -40%;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: space-around;


}
.bottom i{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom h2{
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}