*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.nav ul {
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: rgb(47, 46, 46);
    gap: 22px;
    list-style: none;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(213, 213, 213);
}

.nav ul li a:hover{
    /* text-decoration: none; */
    color:white;
}


.main .img1{
width: 100%;
height: 70%;
object-fit: cover;


}

.herotext{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: 400;
    top: 10%;
    gap: 9px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.herobtn #btn-1{
    
    margin: 10px 5px;
    padding: 11px 21px;
    border-radius: 30px;
    background-color: rgb(69, 155, 253);
    color: white;
    font-size: large;
    border: none;

}

.herobtn #btn-2{
    
    margin: 0px 0px 0px 13px;
    padding: 11px 21px;
    border-radius: 30px;
    background-color:black;
    color: rgb(69, 155, 253);
    font-size: large;
    border: 1px solid rgb(69, 155, 253);

}

.herobtn #btn-2:hover{
background-color:  rgb(69, 155, 253);
color: white;
transition: all 0.3s;
}