*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    display: flex;
    align-items:center;
    justify-content: center;
    background: transparent;
    border: 2px solid red;
    height: 50px;

}
li a{
    text-decoration: none;
    color:crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    align-items: flex-end;

}
ul {

    display: flex;
    list-style: none;
    gap: 18px;

}

