*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
   height: 100%;
   background-image: url(assets/caroline-badran-BaKdrhCvn0E-unsplash.jpg);
   background-size: cover;
   background-position: center;
   text-align: center;
   padding: 150px;
}

h1{
    font-size: 70px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    margin-top: 50px;
    font-size: 30px;
    padding: 20px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
button:hover{
    color: red;
    cursor: pointer;
    background-color: black;
    box-shadow: 2px 2px 2px white;
    transition: all 0.3s;
}

