*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    
}
html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

body
{
    background-color: black;
}
@mixin flexcoloumn($gap:0rem)
{
                display: flex;
                flex-direction: column;
                gap: $gap;
}

section{
    max-width: 2000px;
}
main{
    width: 100%;
    @include flexcoloumn(0 rem);

    section{

                padding: 1rem ;
                width: 100%;
                @include flexcoloumn(1rem);
                .top  {
                        img{

                                width: 100%;
                                border-radius: 0.7rem;

                            }
                        }

                        .bottom{
                            padding: 1rem;
                            background-color: rgb(16, 16, 16);
                            @include flexcoloumn(3rem);
                            border-radius: 0.7rem ;
                        }
                        .text{
                           @include flexcoloumn(0.6rem)
                        }
                        h1{
                            font-weight: 200;
                            font-size: 3rem;
                            text-transform: uppercase;
                            color: white;
                        }
                        p{
                            font-weight: 300;
                            opacity: 0.6;
                            line-height: 1.5rem;
                            font-size: 1.5rem;
                        }
                        button{
                            width: fit-content;
                            border: none;
                            outline: none;
                            padding: 0.7rem 1rem;
                            border-radius: 0.7rem;
                        }

            

            }
}

@media (min-width:900px){
    main{
        // background-color: red;

        section{
            flex-direction: row;
            padding: 1rem 4rem;
            .top,.bottom{
                width: 50%;
                // height: 100%;
            }
            .bottom{
                padding:3rem;
                justify-content: space-between;

                .text{
                    h1{
                        font-size: 4rem;
                        gap: 1.5rem;
                    }
                    p{
                        width: 80%;
                        font-size: 1.5rem;

                    }

                }
            }
        }
    }
}