@import 'btn';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

// Ways to use no code repetation 

@mixin centerdiv(){
    display: flex;
    justify-content: center;
    align-items: center;

}

// Ways to use no code repetation  



// Example of nesting 
main{
    height: 100%;
    width: 100%;
    @include centerdiv();
    background-color: black;

    section{
        height: 50%;
        width: 50%;
        background-color: white;
        @include centerdiv();

       

        h1{
            color: red;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    }
}

.blue{
    @include button-style(blue,white,18px);
    margin: 10px;

}
.red{
    @include button-style(red,white,18px);
}
// Example of nesting 
