*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-color: rgb(245, 237, 237);
}


.div1{
    text-align: center;
    background-color: rgb(3, 11, 36);
    padding: 60px;
    color: white;
}
.heading{
    padding: 30px;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

  
}
.para{

    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
    font-size: 30px;

}
.div2{

    border-radius: 5px;
    background-color:white;
    /* border: 1px solid gray; */
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.heading2{
    font-size:xx-large ;
}

.para2{

    padding: 20px;
    text-align: center;
    font-size:x-large;

}
.education{
     border-radius: 5px;
    background-color:rgb(194, 234, 241);
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading3{
    font-size:xx-large ;
     text-transform: uppercase;
}
.from1{
    background-color: white;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    font-size: x-large;
}
.from2{
    background-color: white;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    font-size: x-large;

}
.skills{
    border-radius: 5px;
    background-color: palegoldenrod;
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sd1{
 
    background-color: white;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    font-size: x-large;
    
}

.heading4{
    font-size:xx-large ;
     text-transform: uppercase;
}

.projects{
    border-radius: 5px;
    background-color:lavender;
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pr1{

    background-color: white;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    font-size: x-large;


}

.heading5{
    font-size:xx-large ;
     text-transform: uppercase;
}

.heading6{
    font-size:xx-large ;
     text-transform: uppercase;
}

.ph1{

    background-color: white;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    font-size: x-large;


}

.contactme{
    border-radius: 5px;
    background-color:rgb(203, 253, 203);
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rsp{
    text-align: center;
    margin: 40px;
    font-size: xx-large;

}
.footer{
    
    padding: 30px;
    color: white;
    background-color: rgb(3, 11, 36) ;
    /* text-transform: uppercase; */
    font-size: 6px;
    font: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

