*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@mixin image(){
    background-size:cover;
    background-position: center;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.fav{
    @include image();
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    section{
        height: 100%;
        flex-grow: 1;
        border: 6px solid crimson;
        @include image();
        flex-grow: 1;
        transition: all 0.5s linear;
    }
    section:hover{
        flex-grow: 2;
        // transition: all 1s;
        cursor: pointer;
    }

    section:nth-child(1){
        background-image: url(https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);

        
    }
    section:nth-child(2){
        background-image: url(https://i.pinimg.com/1200x/c5/f8/f1/c5f8f1135e00ca24a413bac3b84328d0.jpg);
        
    }

    section:nth-child(3){
        background-image: url(https://i.pinimg.com/736x/db/b7/b9/dbb7b962198220ce5d8ea10dca326a0d.jpg);
    }

    section:nth-child(4){
        background-image: url(https://i.pinimg.com/736x/8a/39/ae/8a39ae0a8a63d5aa719c128cc8ebf9f5.jpg);
    }

    section:nth-child(5){
        background-image: url(https://i.pinimg.com/736x/6e/5d/f3/6e5df301d50f384d1fa733f97573adec.jpg);
    }
}
