*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color:crimson;
    /* border: 2px solid white; */
    border-radius: 5px ;
    position: relative;
     display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 600;
    border: none;
    z-index: 9;
    cursor: pointer;

}

button:active{
    scale: 0.9;
    transition: all 0.1s;
    color: red ;
    /* border:2px solid red; */
}

main{
    
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}